/*img*/
.img{
	width:200px;
	margin-left:175px;
	margin-right:auto;
	margin-top:3%;
	border: 1px solid white;
	border-radius:100px 100px 100px 100px;
	padding-left:30px;
}
/*logo*/
.logo{
	color:white;
	float:right;
	margin-right:30%;
	font-size:50px;
	margin-top:-5%;
	
}
/*right*/
.right{
	color:white;
	float:right;
	margin-right:100px;
}
.right-a{
	color:white;
	float:right;
	margin-top:-10%;
	margin-right:100px;
	
	
}

/*Блоки*/
	/*Главная*/
.heading-a{
	color:white;
	border:1px solid #1089a2;
	width:90px;
	margin-left:175px;
	margin-right:auto;
	margin-top:8%;
	padding-left:4%;
	padding-right:2%;
	padding-top:10px;
	padding-bottom:10px;
	background:#1089a2;
}
	/*Доставка*/
.heading-b{
	color:white;
	border:1px solid #56a036;
	width:90px;
	margin-left:350px;
	margin-right:auto;
	margin-top:-41px;
	padding-left:4%;
	padding-right:2%;
	padding-top:10px;
	padding-bottom:10px;
	background:#56a036;
}

	/*Оплата*/
.heading-с{
	color:white;
	border:1px solid #b93c3c;
	width:90px;
	margin-left:525px;
	margin-right:auto;
	margin-top:-41px;
	padding-left:4%;
	padding-right:1%;
	padding-top:10px;
	padding-bottom:10px;
	background:#b93c3c;
}	
	/*Акции*/
.heading-d{
	color:white;
	border:1px solid #712a95;
	width:90px;
	margin-left:688px;
	margin-right:auto;
	margin-top:-41px;
	padding-left:4%;
	padding-right:1%;
	padding-top:10px;
	padding-bottom:10px;
	background:#712a95;
}
	/*Статья*/
.heading-e{
	color:white;
	border:1px solid #e69138;
	width:90px;
	margin-left:850px;
	margin-right:auto;
	margin-top:-41px;
	padding-left:4%;
	padding-right:2%;
	padding-top:10px;
	padding-bottom:10px;
	background:#e69138;
}
	/*Контакты*/
.heading-f{
	color:white;
	border:1px solid #ed4b6f;
	width:90px;
	margin-left:1025px;
	margin-right:auto;
	margin-top:-41px;
	padding-left:4%;
	padding-right:2%;
	padding-top:10px;
	padding-bottom:10px;
	background:#ed4b6f;
}
/*остальные блоки*/
	/*clean*/
.clean{
	border-bottom:1px solid white;
	width:50%;
	height:10%;
	margin-left:25%;	
}
	/*фото*/
.imge1{
	width:200px;
	height:200px;
	margin-left:200px;
	margin-top:40px;
	border: 1px solid #4b0082;
}
.imge2{
	width:200px;
	height:200px;
	margin-left:50px;
	margin-top:40px;
	border: 1px solid #ffa700;
}
.imge3{
	width:200px;
	height:200px;
	margin-left:50px;
	margin-top:40px;
	border: 1px solid #99cccc;
}
.imge4{
	width:200px;
	height:200px;
	margin-left:50px;
	margin-top:40px;
	border: 1px solid #ce6ef1;
}
.imge5{
	width:200px;
	height:200px;
	margin-left:200px;
	margin-top:40px;
	border: 1px solid #a64d79;
}.imge6{
	width:200px;
	height:200px;
	margin-left:50px;
	margin-top:40px;
	border: 1px solid #8e7cc3;
}
.imge7{
	width:200px;
	height:200px;
	margin-left:50px;
	margin-top:40px;
	border: 1px solid #4100ff;
}
.imge8{
	width:200px;
	height:200px;
	margin-left:50px;
	margin-top:40px;
	border: 1px solid #ff9abf;
}
/*описание*/
.description{
	color:white;
	margin-left:450px;
	margin-top:40px;
	font-size:50px;
}
.№1{
	color:white;
	width:900px;
	font-size:25px;
	margin-left:100px;
	border-bottom:1px dashed white;
}
.№2{
	color:white;
	width:900px;
	font-size:25px;
	margin-left:100px;
	border-bottom:1px dashed white;
}
.№3{
	color:white;
	width:900px;
	font-size:25px;
	margin-left:100px;
	border-bottom:1px dashed white;
}
.№4{
	color:white;
	width:900px;
	font-size:25px;
	margin-left:100px;
	border-bottom:1px dashed white;
}
.№5{
	color:white;
	width:900px;
	font-size:25px;
	margin-left:100px;
	border-bottom:1px dashed white;
}
.№6{
	color:white;
	width:900px;
	font-size:25px;
	margin-left:100px;
	border-bottom:1px dashed white;
}
.№7{
	color:white;
	width:900px;
	font-size:25px;
	margin-left:100px;
	border-bottom:1px dashed white;
}
.№8{
	color:white;
	width:900px;
	font-size:25px;
	margin-left:100px;
	border-bottom:1px dashed white;
}
